# Release artifacts
**/.release.*
*.ulix3

# Tests
**/test/
**/tests/
**/*.test.*
**/*.spec.*

# PCF
/.pcf/
/out/

# Rust
/target/

# IDEs
.idea/
.vscode/
.studio/
.studio-dat

# OS
.DS_Store
Thumbs.db

# Temporary / Logs
*.log
*.tmp
*.temp
*.swp
*.swo

# Other
*.sh
*.zsh
